{% extends "main.html" %}

{% block title %} Confirmation {% endblock %}
{% block content %}

    <div class="container">

        <br>
          <header class="jumbotron hero-spacer">

            <div class="row">
                 <div class="col-lg-6 col-lg-offset-3">
                                    <h1 class="home-h1">Congratulations!</h1>
                                    <p><small>You have successfully  booked this package. The package details have been sent to your email address. </small></p>


                                </div>
            </div>
    </header>


    </div>


{% endblock %}