{% extends "main.html" %}

{% block title %} {{ location.title }} {% endblock %}
{% block content %}
    <br/>

<div class="container">
<div class="row">
    <div class="col-md-7 col-md-offset-2">
         <div class="thumbnail">

                    <img class="img-responsive" src="{{ location.image_url }}" alt=""  >
                    <div class="caption-full">
                        <h4 class="pull-right">Ksh. {{ location.price }}</h4>
                        <h4><a href="#">{{ location.title }}</a>
                        </h4>
                        <p>{{ location.description }}</p>
                        <p>{{ location.date }}</p>
                        <p>{{ location.description }}</p>

                    </div>
                    <div class="ratings">
                        <p class="pull-right">3 reviews</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            4.0 stars
                        </p>
                        <div class="text-left">
                            <a class="btn btn-success" href="/book/{{ location_id }}">Book Now</a>
                        </div>
                        <br>
                    </div>
                </div>



</div>
</div>
</div>
{% endblock %}